# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin123
DATABASE_NAME=commercia

# JWT
JWT_SECRET=jwt-secret-key
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=jwt-refresh-secret-key
JWT_REFRESH_EXPIRES_IN=30d

# Application
PORT=3000
ENV=dev

# Goose related config
GOOSE_DRIVER=postgres
GOOSE_DBSTRING="postgres://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
GOOSE_MIGRATION_DIR=./src/internal/infrastructure/database/sql/migrations